*{
	box-sizing: border-box;
	text-align: center;
	
}

html{
	width: 100%;
}
body{
	width: 100%;
}

html, body {
  overflow-x: hidden;
}

h1{
	font-family: 'Montserrat', sans-serif !important;	
}

h2, h3, h4, h5, p, a {
	font-family: 'Taviraj', serif !important;
}

header {
    background-image: url(../images/beach.jpg);
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    height: 260px;
    color: white;
}

@media only screen and (max-width: 470px) {
    header, footer {
        background-size: cover;
    }

    div#social-media {
    width: 70%;
    margin: 0 auto;
	}

	li.loud {
    margin: 0 auto;
	}

	ul.nav {
    flex-wrap: wrap;
	}

	#projects{
	flex-wrap: wrap;
	}

    form{
        display: block !important;
    }
}

section{
	padding: 1px 10px 10px;
}

div#header-div {
    padding-top: 50px;
}

h1#name {
    margin-top: 0;
}

ul.nav {
    display: inline-flex;
    background: rgba(255, 255, 255, 0.4);
}

a.header-aTag {
    color: white;
    font-size: medium;
}

a.header-aTag:hover {
    color: black;
}

div#profilePic {
    text-align: center;
}

img#laurentPic {
    border-radius: 50%;
    width: 250px;
}

div#skillDiv {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.skill-image-div {
    width: 20%;
    margin: 8px;
}

img.skill-icon {
    max-width: 75%;
}

#projects {
    display: flex !important;
}

img.project-img {
    width: 80%;
    border: 2px solid black;
    margin: 2px;
}

img.project-img:hover {
    box-shadow: 0px 0px 10px 7px #4090b5;
}

section#about {
    background: #78A4B4;
}

section#general-info{
	background: #78A4B4;
}

img.social-icon {
    padding-bottom: 5px;
}

li{
	list-style: none;
}

form{
    display: inline-flex;
}

button{
    font-size: 1em !important;
    text-transform: uppercase !important;
    font-weight: 600 !important;
    border: 2px solid #359173 !important;
    color: #359173 !important;
    background: transparent !important;
    line-height: 1em !important;
    padding: 0.6em 0.9em !important;
    transition: all 0.3s !important;
}

button:hover{
    background: green !important;
    color: white !important;
}

input, textarea {
    font-size: 0.8em !important;
    font-family: 'proxima-nova-soft', sans-serif !important;
    border: 1px solid #ddd !important;
    background: #fff !important;
    padding: 0.9em !important;
    transition: all 0.3s ease-in-out !important;
    width: 100% !important;
}

footer {
    background-image: url(../images/beach.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 200px;
    color: white;
    padding-top: 30px;
}